:root {
    --border-deco-size: 3vh;
    --border-size: 2.1vh;
}

html, body {
	padding: 0px;
	margin: 0px;
	background: rgba(0, 0, 0, 0);
    font-family: 'Didact Gothic', sans-serif;
}


body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-flex;
}
  
.borderwrap {
    animation: fadeIn 600ms;
    image-rendering: crisp-edges;
    position: absolute;
    border: var(--border-size) solid transparent;
    border-image-source: url('Border New.png');
    border-image-slice: 25;
    flex: 0 0 auto;
}

.noborder {
    position: absolute;
    border: var(--border-size) solid transparent;
    flex: 0 0 auto;
}

#maindiv {
    height: 100vh;
    display: inline-flex;
}

#subdiv {
    display: inline-flex;
    flex-flow: column wrap;
    vertical-align: top;
    height: 100vh;
}

.borderwrap:before, .borderwrap:after {
    animation: fadeIn 600ms;
    content: "";
	position: absolute;
	top: calc(var(--border-size) * -1);
	height: var(--border-deco-size);
	width:  var(--border-deco-size);
    image-rendering: smooth;
	background-image: url('SpritePrintNew.png');
	background-size: var(--border-deco-size) var(--border-deco-size);
	background-position: top center, bottom center;
	background-repeat: no-repeat;
    transform: rotate(var(--rotation));
}

.border:before, .border:after {
    animation: fadeIn 600ms;
    content: "";
	position: absolute;
	bottom: calc(var(--border-size) * -1);
	height: var(--border-deco-size);
	width: var(--border-deco-size);
    image-rendering: smooth;
	background-image: url('SpritePrintNew.png');
	background-size: var(--border-deco-size) var(--border-deco-size);
	background-position: top center, bottom center;
	background-repeat: no-repeat;
    transform: rotate(var(--rotation));
}

.borderwrap:before, .border:before {
    left: calc(var(--border-size) * -1);
}

.border:after, .borderwrap:after  {
    right: calc(var(--border-size) * -1);
}

.border {
    height: 100%;
    width: 100%;
}
  
.darken {   
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.5);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
