html, body {
	padding: 0px;
	margin: 0px;
	background: rgba(0, 0, 0, 0);
    font-family: 'Didact Gothic', sans-serif;
}


body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-flex;
}
  
.borderwrap {
    animation: fadeIn 600ms;
    image-rendering: crisp-edges;
    position: absolute;
    border: 25px solid transparent;
    border-image-source: url('Border New.png');
    border-image-slice: 25;
    flex: 0 0 auto;
}

.noborder {
    position: absolute;
    border: 25px solid transparent;
    flex: 0 0 auto;
}

#maindiv {
    height: 100vh;
    display: inline-flex;
}

#subdiv {
    display: inline-flex;
    flex-flow: column wrap;
    vertical-align: top;
    height: 100vh;
}

.borderwrap:before, .borderwrap:after {
    animation: fadeIn 600ms;
    content: "";
	position: absolute;
	top: -24px;
	height: 31px;
	width: 29px;
    image-rendering: pixelated;
	background-image: url('Sprite Print colored.png');
	background-size: 29px 31px;
	background-position: top center, bottom center;
	background-repeat: no-repeat;
}

.border:before, .border:after {
    animation: fadeIn 600ms;
    content: "";
	position: absolute;
	bottom: -23px;
	height: 31px;
	width: 29px;
    image-rendering: pixelated;
	background-image: url('Sprite Print colored.png');
	background-size: 29px 31px;
	background-position: top center, bottom center;
	background-repeat: no-repeat;
}

.borderwrap:before, .border:before {
    left: -22px;
}

.border:after, .borderwrap:after  {
    right: -22px
}

.border {
    height: 100%;
    width: 100%;
}
  
.darken {   
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.5);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }